.env
.env.*
.git
.gitignore
node_modules
vendor
docker/db/*.sql
storage/app/private/*
!storage/app/private/.gitignore
!storage/app/private/data
!storage/app/private/data/**
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
.phpunit.cache
tests
README.md
